@{
    Layout = null;
}
<style>
    .button_inline {
        display: inline-block;
        min-width: 70px;
        margin-right: 20px;
    }

    .div_center {
        text-align: center;
    }
</style>
<progressbar class="progress-striped active" value="dynamic" ng-show="loading"></progressbar>
<div class="header bg-blues-gradient akow-msgbox-title">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">
        &times; &nbsp;&nbsp;
    </button>
    <h3 class="akow-modal-popup-title">
        &nbsp;&nbsp; Change Password
    </h3>
</div>

<div class="modal-body col-xs-12 form-horizontal form-group-sm table-bordered">

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <label for="inputEmail3" class="col-sm-4 control-label">Current Password</label>
                <div class="col-sm-8 form-inline form-group">
                    <input class="form-control akow-require-field" type="password" id="CurrentPassword" ng-model="CurrentPassword" maxlength="50">
                </div>
            </div>
            <div class="row">
                <label for="inputEmail3" class="col-sm-4 control-label">New Password</label>
                <div class="col-sm-8 form-inline form-group">
                    <input class="form-control akow-require-field" type="password" id="NewPassword" ng-model="NewPassword" maxlength="50">
                </div>
            </div>
            <div class="row">
                <label for="inputEmail3" class="col-sm-4 control-label">Confirm Password</label>
                <div class="col-sm-8 form-inline form-group">
                    <input class="form-control akow-require-field" type="password" id="ConfirmPassword" ng-model="ConfirmPassword" maxlength="50">
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 div_center">
            <div id="divMessage" style="text-align:justify; vertical-align:top; color:red;"></div>
            @*<button class="btn btn-primary akow-addbutton button_inline" ng-click="save()">&nbsp;OK</button>*@
            @*<button class="btn btn-primary akow-savebutton button_inline" ng-click="save()"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                <button class="btn btn-default akow-addbutton button_inline" ng-click="close()">&nbsp;Cancel</button>*@
            <button class="btn btn-primary akow-savebutton" ng-click="save()"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
            <button class="btn btn-primary" ng-click="close()"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
        </div>
    </div>
</div>

<div class="modal-footer"></div>

