@{
    Layout = null;
}

<div class="mainT-Table" ng-init="initial()">
    <div class="modal-header" style="border-bottom: 1px solid #e5e5e5;  background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Close()">
            &times;
        </button>
        @{ IHtmlString str = new HtmlString(@Session["EditNavTitle"].ToString()); @Html.Raw(str) }
    </div>
    <div class="modal-body">
        <div style="padding-bottom: 10px;">
            <div class="row no-gutter" style="padding-top: 10px;">
                <div class="form-group">
                    <label for="editUsername" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Username : </label>
                    <div class="col-sm-5">
                        <input type="text" id="editUsername" name="editUsername" ng-model="editUsername" maxlength="128" ng-disabled="editUsernameDis" class="akow-control-textbox-disabled akow-require-field" title="Username">
                    </div>
                </div>
            </div>
            @*<div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label for="editPassword" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Password : </label>
                        <div class="col-sm-5">
                            <input type="password" id="editPassword" name="editPassword" maxlength="256" class="akow-control-textbox" title="Password">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label for="editConfirmPassword" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Confirm Password : </label>
                        <div class="col-sm-5">
                            <input type="password" id="editConfirmPassword" name="editConfirmPassword" maxlength="256" class="akow-control-textbox" title="Confirm Password">
                        </div>
                    </div>
                </div>*@
            <div class="row no-gutter" style="padding-top: 10px;">
                <div class="form-group">
                    <label for="editDisplayName" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Display Name : </label>
                    <div class="col-sm-5">
                        <input type="text" id="editDisplayName" name="editDisplayName" maxlength="256" ng-model="editDisplayName" ng-disabled="true" class="akow-control-textbox akow-require-field" title="Display Name">
                    </div>
                </div>
            </div>
            <div class="row no-gutter" style="padding-top: 10px;">
                <div class="form-group">
                    <label for="editEmployee" class="col-sm-4 control-label text-right">Employee : </label>
                    <div class="col-sm-5">
                        <input type="text" class="akow-control-textbox" id="editEMP_NAME" name="editEMP_NAME" ng-model="editEMP_NAME" ng-disabled="editEMP_NAMEDis" />
                    </div>
                    <div class="col-sm-1"
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-disabled="editPopupEmpDis" ng-click="Popup()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutter" style="padding-top: 0px;">
                <div class="form-group">
                    <label for="editEmail" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Email : </label>
                    <div class="col-sm-5">
                        <input type="email" id="editEmail" name="editEmail" maxlength="256" ng-disabled="true" class="akow-control-textbox akow-require-field" title="Email" ng-model="editEmail">
                    </div>
                </div>
            </div>
            <div class="row no-gutter" style="padding-top: 10px;">
                <div class="form-group">
                    <label for="editStatus" class="col-sm-4 control-label text-right"><span style="color:red;">* </span>Status : </label>
                    <div class="col-sm-5">
                        <label class="radio-inline">
                            <input name="rbtEditStatusGroup" ng-model="editStatus" id="rbtEditStatus1" type="radio" value="1" ng-disabled="true">Active
                        </label>
                        <label class="radio-inline">
                            <input name="rbtEditStatusGroup" ng-model="editStatus" id="rbtEditStatus2" type="radio" value="0" ng-disabled="true">Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row no-gutter" style="padding-top: 10px; padding-left: 100px; padding-right: 100px; ">
                <div class="col-sm-12 center-block">
                    <fieldset>
                        <label class="control-label text-right">Role : </label>
                        <table>
                            @{
                                int iTotal = ViewBag.RoleName.Count <= 0 ? 0 : ViewBag.RoleName.Count - 1;
                                for (int i = 0; i <= (iTotal / 4); i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < 4; j++)
                                        {
                                            if ((i * 4) + j < ViewBag.RoleName.Count)
                                            {
                                                <td width="350">
                                                    <input type="checkbox" class="chkEditRoleName" name="chkEditRoleName_@((i * 4) + j)" value="@ViewBag.RoleName[(i * 4) + j].Value" />@ViewBag.RoleName[(i * 4) + j].Text
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center">
        <button class="btn btn-primary akow-savebutton" ng-click="editRoleAssign()"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
        <button class="btn btn-primary" ng-click="Close()"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
    </div>
</div>