 .error{
           color:red;
        }
        .nonborder {
            border: 0px none;
            background : white;
        }
        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
.nonborder {
            border: 0px none;
            background : white;
        }
.read {
            border: 0px none;
            background : white !important;
        }
.txt_read{            
            background : white !important;
        
}
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color:  rgba(255, 255, 255, 0.7); /*dim the background*/
}
.modal-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:15;
  background: transparent url('/img/ajax-loader1.gif') 50% 50% no-repeat;
}

.row_alter{
    background-color : rgba(140,180, 220,0.5) !important;
}