@*
    *** Update by : Pongthorn Paemanee ***
    *** Update Date : 08/10/2015 16:00  ***
*@

@using ARSoft.Claim.DataModel;

@{
    Layout = null;
}

<div class="mainT-Table" ng-init="CustomerContact_Initial()">
    <div class="modal-header" style="border-bottom: 1px solid #e5e5e5;  background: #e5e5e5;">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true" ng-click="CustomerContact_Close()">
            &times;
        </button>
        <h4 class="akow-modal-title">แก้ไขข้อมูลลูกค้า <i class="fa fa-fw fa-chevron-right"></i> เพิ่มข้อมูลผู้ติดต่อ</h4>
    </div>
    <div class="modal-body">
        <div style="padding-bottom: 10px;">
            <div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right" for="CusContact_AddTitle">คำนำหน้า : </label>
                        <div class="col-sm-4">
                            <input class="akow-control-textbox" type="text" id="CusContact_AddTitle" name="CusContact_AddTitle" maxlength="30" title="คำนำหน้า" ng-model="CusContact_AddTitle">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right" for="CusContact_AddFirstName"><span style="color:red;">* </span>ชื่อ : </label>
                        <div class="col-sm-4">
                            <input class="akow-control-textbox akow-require-field" type="text" id="CusContact_AddFirstName" name="CusContact_AddFirstName" maxlength="128" title="ชื่อ" ng-model="CusContact_AddFirstName">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right" for="CusContact_AddLastName"><span style="color:red;">* </span>สกุล : </label>
                        <div class="col-sm-4">
                            <input class="akow-control-textbox akow-require-field" type="text" id="CusContact_AddLastName" name="CusContact_AddLastName" maxlength="128" title="สกุล" ng-model="CusContact_AddLastName">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right"><span style="color:red;">* </span>โทรศัพท์ : </label>
                        <div class="col-sm-4">
                            <input kendo-masked-text-box  class="akow-control-textbox akow-require-field akow-control-masked-textbox" type="text" id="CusContact_AddPhone" name="CusContact_AddPhone" maxlength="30" title="โทรศัพท์" ng-model="CusContact_AddPhone">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right">email : </label>
                        <div class="col-sm-4">
                            <input class="akow-control-textbox" type="email" id="CusContact_AddEmail" name="CusContact_AddEmail" maxlength="256" title="email" ng-model="CusContact_AddEmail">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div>
                        <label class="col-sm-3 control-label text-right" for="searchCusContactType"><span style="color:red;">* </span>ผู้ติดต่อ : </label>
                        <div class="col-sm-9 text-left">
                            <label ng-repeat="option in ContactTypeList">
                                &nbsp;<input type="radio" ng-model="CusContact_AddContactType" ng-value="option.ID" name="ContactTypeAdd" />{{option.Name}}
                            </label>
                            @*@foreach (var c in (IEnumerable<DropdownModel>)ViewBag.CusContactType)
                            {
                                <input type="radio" name="rbtCusContactType" value=@c.ID ng-model="CusContact_AddContactType"><span>&nbsp;&nbsp;</span>@c.Name<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            }*@
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right">Fax : </label>
                        <div class="col-sm-9">
                            <input kendo-masked-text-box  class="akow-control-textbox akow-control-masked-textbox" type="text" id="CusContact_AddPhoneOther1" name="CusContact_AddPhoneOther1" maxlength="20" title="โทรศัพท์อื่น (1)" ng-model="CusContact_AddPhoneOther1">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right">โทรศัพทมือถือ : </label>
                        <div class="col-sm-9">
                            <input kendo-masked-text-box  class="akow-control-textbox akow-control-masked-textbox" type="text" id="CusContact_AddPhoneOther2" name="CusContact_AddPhoneOther2" maxlength="20" title="โทรศัพท์อื่น (2)" ng-model="CusContact_AddPhoneOther2">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right">โทรศัพท์อื่นๆ : </label>
                        <div class="col-sm-9">
                            <input kendo-masked-text-box class="akow-control-textbox akow-control-masked-textbox" type="text" id="CusContact_AddPhoneOther3" name="CusContact_AddPhoneOther3" maxlength="20" title="โทรศัพท์อื่น (3)" ng-model="CusContact_AddPhoneOther3">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right" for="CusContact_AddRemark">หมายเหตุ : </label>
                        <div class="col-sm-8">
                            <textarea class="akow-control-textbox" id="CusContact_AddRemark" name="CusContact_AddRemark" maxlength="256" rows="5" title="หมายเหตุ" style="resize:none" ng-model="CusContact_AddRemark"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row no-gutter"q style="padding-top: 10px;">
                    <div>
                        <label class="col-sm-3 control-label text-right" for="searchCusStatusGroup">สถานะ : </label>
                        <div class="col-sm-9 text-left">

                            <label ng-repeat="option in StatusList">
                                &nbsp;<input type="radio" ng-model="CusContact_AddStatus" ng-value="option.ID" name="StatusAdd"/>{{option.Name}}
                            </label>

                            @*@foreach (var c in (IEnumerable<DropdownModel>)ViewBag.CusStatusGroup)
                            {
                                <input type="radio" name="CusContact_AddStatus" value=@c.ID ng-model="CusContact_AddStatus"><span>&nbsp;&nbsp;</span>@c.Name<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <button class="btn btn-primary akow-addbutton" ng-click="CustomerContact_Add()"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>        
        <button class="btn btn-primary" ng-click="CustomerContact_Close()"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
    </div>
</div>
