@*<div class="overlay" style="position: absolute; top: 100px; left: 700px; z-index: 99; display: none;">*@
<div class="overlay" style="position: fixed; z-index: 9999; display: none; top:0;  width:100%; height:100%">

    <div class="row">
        <div class="col-md-12 text-center text-success" style="padding-top: 160px">
            <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw" style="font-size: 7em;"></i>
            <h1>Loading . . .  </h1>
        </div>
    </div>
</div>

<div class="overlay2" style="width: 60%; height: 100%; display: none; top: 0; width: 100%; height: 100%">
    <div class="k-loading-image">
        <div class="k-loading-color">
        </div>
    </div>
</div>